{{#each posts as |post|}}
  {{#if post.isBlogPost}}
    <div class="blogpost-title"><a href="{{post.url}}"><h2>{{post.title}}</h2></a></div>
    <div class="blogpost-description">{{{post.description}}}</div>
  {{else}}
    {{#if post.url}}
      <div class="post-title"><a href="{{post.url}}"><h2>{{post.title}}</h2></a></div>
    {{else}}
      <div class="post-title"><h2>{{post.title}}</h2></div>
    {{/if}}
    {{#if post.image_url}}
      <a href="{{post.url}}"><div class="post-img" style="background-image: url({{post.image_url}})"></div></a>
    {{/if}}

    {{#if post.subtitle}}
      <div class="post-title"><h3>{{post.subtitle}}</h3></div>
    {{/if}}
    <div class="post-description">{{{post.description}}}</div>
    <div class="tags"><small>Tags:</small> {{#each post.tags as |tag|}}<small>{{tag}}</small>{{/each}}</div>
  {{/if}}
  <hr>
{{/each}}
{{yield}}
